<!-- お薬の追加画面 -->

{% extends "base.html" %}

{% block title %}お薬新規登録{% endblock %}

{% block content %}
<div class="mx-auto home-register-medicine main-background" id="select-medicine">

    <header class="mb-4">お薬の新規登録</header>

    <section>
        <div class="mb-4">
            <p>処方しているお薬の情報を入力し、登録ボタンを押下してください。</p>
        </div>

        <form action="/medicine_register" method="post">
            <div>
                <p class="mb-1">お薬の名前</p>
                {{ form.csrf_token }}
                {{ form.medi_name(class="form-control dt-home-input", placeholder="お薬の名前") }}
            </div>

            <div>
                <p class="mt-4 mb-2">お薬の種類</p>
                <input id="type1" type="radio" name="mediType" value="飲み薬" onclick="medicineChange();" class=mb-4 checked>
                <label for="type1">飲み薬</label>
                <input id="type2" type="radio" name="mediType" value="塗り薬" onclick="medicineChange();">
                <label for="type2">塗り薬</label>
            </div>

            <!-- 表示・非表示切替部　飲み薬の残量、初期値は30日分 -->
            <div class="home-register-medicine-selectbox" id="firstBox">
                <p>お薬の残量</p>
                <!-- セレクトボックス生成 -->
                <select id="selectResidue1" name="InternalResidue">
                </select> 日分
            </div>

            <!-- 表示・非表示切替部　塗り薬の残量、初期値は3日分 -->
            <div class="home-register-medicine-selectbox" id="secondBox">
                <p>お薬の残量</p>
                <!-- セレクトボックス生成 -->
                <select id="selectResidue2" name="ointResidue" class="mb-4">
                </select> 本
            </div>

            <!-- 表示・非表示切替部　塗り薬の１本当たりの使用可能日数、初期値は10日分 -->
            <div class="home-register-medicine-selectbox" id="thirdBox">
                <!-- セレクトボックス生成 -->
                <p>１本当たりの使用可能日数</p>
                <select id="selectOin" name="mediOin">
                </select> 日分
            </div>

            <!-- 登録ボタンを表示 -->
            {{ form.submit(class="btn btn-md btn-primary btn-block home-register-medicine-btn w-100") }}
        </form>
    </section>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/register_selectbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/medicine_display.js') }}"></script>
{% endblock %}