/* ログイン・新規登録画面 */
.auth-login-main {
    width: 400px;
    max-width: 100%;
    margin-top: 45px;
    height: 320px;
}
.auth-login-main header {
    text-align: center;
    margin: 30px 0 0 0;
    font-size: 34px;
}
.auth-login-main section {
    width: 300px;
    margin: 10px auto;
}

.auth-login-input {
    margin-top: 10px;
}
.auth-login-btn {
    margin: 30px 0 0 0;
}
/* ログイン・新規登録画面のflash */
.auth-login-flash {
    font-size: 14px;
    color: #9c1a1c;
}