body {
    background-color : #EEEEEE;
    padding-top : 5rem;
}

/* 共通の背景 */
.navbar {
    background-color: #fb976c;
}
.navbar-btn {
    color: #EEEEEE;
}
.nav-icon {
    width: 20px;
}
.main-background {
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454544;
}
.main-background:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.main-background p {
    margin: 0; 
    padding: 0;
}
/* 削除チェックボックス */
input[type="search"] {
    background-color: #f5f5f5;
}
/* 薬の新規・更新画面のセレクトボックス */
input[type=checkbox] {
	transform: scale(2);
	margin: 0 6px 0 0;
}

/* トップ画面 */
.home-top header {
    font-size: 30px;
    margin-bottom : 20px;
}
.home-top-images-div {
    text-align : center;
}
.home-top-image {
    width: 80%;
}
.home-top a {
    font-size: 19px
}

/* ホーム画面 */
.home-main header {
    font-size: 30px;
    margin-bottom : 20px;
}
.home-main-consultation {
    font-size: 21px;
    margin-bottom : 20px;
}
.home-main-nextday {
    font-size: 33px;
    color: #F44336;
}
.home-main-taking-outsidebox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 25px;
}
.home-main-taking-insidebox {
    font-size: 16px;
}

/* 薬の新規・更新画面 */
/* 新規・更新画面は最初は非表示にし、jsで表示させちらつきを解消させる */
.home-register-medicine {
    width: 400px;
    display: none;
}
.home-register-medicine header {
    font-size: 30px;
}
.home-register-medicine-input {
    margin-top: 10px;
}
.home-register-medicine-btn {
    margin: 30px 0 0 0;
}
.home-register-medicine-selectbox {
    position: relative;
    float: left;
    min-width: 200px;
}
.home-register-medicine-selectbox:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 105px;

    top: 38px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */

    position: absolute;
    pointer-events: none;
}
.home-register-medicine-selectbox select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 50%;
    max-width: 200px;
    height: 40px;
    margin: 5px 0px;
    padding: 0px 13px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

/* 受診の記録画面 */
.home-medical_examination-info {
    font-size: 21px;
}
.home-medical_examination-selectbox {
    position: relative;
    float: left;
    min-width: 120px;
}
.home-medical_examination-selectbox:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 39px;

    top: 11px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */

    position: absolute;
    pointer-events: none;
}
.home-medical_examination-selectbox select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 68%;
    max-width: 100px;
    height: 35px;
    margin: 5px 3px;
    padding: 0px 13px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

/* カレンダー画面 */
.calendar_modal {
    display: none;
    background-color: rgba(0,0,0,.6);
}
.pass-value {
    display: none;
}