<!-- メニュー画面 -->

{% extends "base.html" %}

{% block title %}トップ{% endblock %}

{% block content %}
<div class="mx-auto dt-home-main dt-main-box1">

    <header>TOP</header>

    <section>
        <p>本サービスでは、服用しているお薬の残量を記録し可視化することができます。</p>
        <p>■サービス利用画面</p>
        <img src="{{ url_for('static', filename='images/デモ画像1.png') }}" alt="デモ画像1" class="dt-image">
        <p>新規登録の方は<a href="{{ url_for('auth.signup') }}">こちら</a>からユーザー登録をしてください。</p>
        <p>ユーザー登録済の方は<a href="{{ url_for('auth.login') }}">こちら</a>からログインしてください。</p>
    </section>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}