<!-- お薬の修正画面 -->

{% extends "base.html" %}

{% block title %}お薬の修正{% endblock %}

{% block content %}
<div class="mx-auto home-register-medicine main-background" id="select-medicine">

    <header class="mb-4">お薬の修正</header>

    <section>
        <div class="mb-4">
            <p>お薬の情報を修正後、登録ボタンを押下してください。</p>
        </div>

        <form action="/medicine_update/{{ record.id }}" method="post">
            <div>
                <p class="mb-1">お薬の名前</p>
                {{ form.csrf_token }}
                {{ form.medi_name(class="form-control dt-home-input", placeholder="お薬の名前", value=record.medi_name) }}
            </div>

            <div>
                <p class="mt-4 mb-2">お薬の種類</p>
                {% if record.medi_type == "飲み薬" %}
                    <input id="type1" type="radio" name="mediType" value="飲み薬" class=mb-4 checked disabled>
                    <label for="type1">飲み薬</label>
                    <input id="type2" type="radio" name="mediType" value="塗り薬" disabled>
                    <label for="type2">塗り薬</label>
                {% else %}
                    <input id="type1" type="radio" name="mediType" value="飲み薬" class=mb-4 disabled>
                    <label for="type1">飲み薬</label>
                    <input id="type2" type="radio" name="mediType" value="塗り薬" checked disabled>
                    <label for="type2">塗り薬</label>
                {% endif %}
            </div>

            <!-- 表示・非表示切替部　飲み薬の残量、初期値は30日分 -->
            <div class="home-register-medicine-selectbox" id="firstBox">
                <p>お薬の残量</p>
                <!-- セレクトボックス生成 -->
                <select id="selectResidue1" name="mediResidue1">
                </select>日分
            </div>

            <!-- 表示・非表示切替部　塗り薬の残量、初期値は3日分 -->
            <div class="home-register-medicine-selectbox" id="secondBox">
                <p>お薬の残量</p>
                <!-- セレクトボックス生成 -->
                <select id="selectResidue2" class="mb-4" name="mediResidue2">
                </select>本
            </div>

            <!-- 表示・非表示切替部　塗り薬の１本当たりの使用可能日数、初期値は10日分 -->
            <div class="home-register-medicine-selectbox" id="thirdBox">
                <p>１本当たりの使用可能日数</p>
                <!-- セレクトボックス生成 -->
                <select id="selectOin" name="mediOin">
                </select>日分
            </div>

            <!-- 修正ボタンの表示 -->
            {{ form.submit(class="btn btn-md btn-primary btn-block home-register-medicine-btn w-100") }}
        </form>
    </section>
</div>

<script>
    // 読み込み時にセレクトボックスを動的に作成
    document.addEventListener('DOMContentLoaded', function() {
        // javascriptで使用できるようにjson型で渡す
        let currentResidue = {{ medi_residue | tojson }};
        let mediType = {{ record.medi_type | tojson }};

        // 飲み薬が選択されている時
        if (mediType === "飲み薬") {
            // 飲み薬の残量のセレクトボックス生成
            let selectResidue1 = document.getElementById("selectResidue1");
            for (let i = 0; i <= 60; i++) {
                let option = document.createElement('option');
                option.setAttribute("value", i);
                option.textContent = i;
                selectResidue1.appendChild(option);
                // DBから取得した値が選択された状態にする
                if (i === currentResidue) {
                    option.setAttribute("selected", true);
                }
            }

        } else {
            // 塗り薬の残量のセレクトボックス生成
            let selectResidue2 = document.getElementById("selectResidue2");
            for (let i = 0; i <= 10; i++) {
                let option = document.createElement('option');
                option.setAttribute("value", i);
                option.textContent = i;
                selectResidue2.appendChild(option);
                // DBから取得した値が選択された状態にする
                if (i === currentResidue) {
                    option.setAttribute("selected", true);
                }
            }

            // 現在の塗り薬の本数を取得
            let currentMediOin = {{ record.medi_oin | tojson }};

            // 塗り薬の1本当たりの使用可能日数のセレクトボックス生成
            let selectOin = document.getElementById("selectOin");
            for (let i = 0; i <= 30; i++) {
                let option = document.createElement('option');
                option.setAttribute("value", i);
                option.textContent = i;
                selectOin.appendChild(option);
                // DBから取得した値が選択された状態にする
                if (i === currentMediOin) {
                    option.setAttribute("selected", true);
                }
            }
        }
    });
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/medicine_display.js') }}"></script>
{% endblock %}