<!-- ログイン画面 -->

{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="mx-auto auth-login-main main-background">

    <header>ログイン</header>

    <!-- ログイン入力フォーム -->
    <section>
        <form action="{{ url_for('auth.login') }}" method="post">
            {% for message in get_flashed_messages() %}
                <span class="auth-login-flash">{{ message }}</span>
            {% endfor %}
            
            {{ form.csrf_token }}
            {{ form.user_name(class="form-control auth-login-input", placeholder="ユーザー名") }}
            {{ form.password(class="form-control auth-login-input", placeholder="パスワード") }}
            {{ form.submit(class="btn btn-md btn-primary btn-block auth-login-btn w-100") }}
        </form>
    </section>

</div>

{% endblock %}