<!-- 新規登録画面 -->

{% extends "auth/base.html" %}

{% block title %}アカウント登録{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-left box1 box-h">
            <h1>アカウント登録</h1>
            
            <!-- 入力したユーザが既に存在する場合 -->
            {% if status == "exist_user" %}
            <p class="mt-4">そのユーザは既に登録されています。</p>
            {% endif %}

            <!-- 新規登録フォーム -->
            <form action="/auth/registar" method="post">
                <h6 class="mt-3">ユーザ</h6>
                <input type="text" name="user_name" placeholder="user_name" class="form-control" required class="mt-3"><br>
                <h6>パスワード</h6>
                <input type="password" name="password" placeholder="password" class=" form-control" required><br>
                <input type="submit" value="新規登録" class="btn btn-primary w-100 mb-4">
            </form>
            <a href="{{ url_for('auth.top') }}">ログイン画面に戻る</a>
        </div>
    </div>
</div>
{% endblock %}