<!-- ユーザー新規登録画面 -->

{% extends "base.html" %}

{% block title %}ユーザー新規登録{% endblock %}

{% block content %}
<div class="mx-auto auth-login-main main-background">

    <header>ユーザー新規登録</header>

    <!-- ユーザー新規登録入力フォーム -->
    <section>
        <form method="post" action="{{ url_for('auth.signup') }}">
            {% for message in get_flashed_messages() %}
                <div class="auth-login-flash">{{ message }}</div>
            {% endfor %}

            {{ form.csrf_token }}
            {{ form.user_name(class="form-control auth-login-input", placeholder="ユーザー名") }}
            {{ form.password(class="form-control auth-login-input", placeholder="パスワード") }}
            {{ form.submit(class="btn btn-md btn-primary btn-block auth-login-btn w-100") }}
        </form>
    </section>

</div>
{% endblock %}